#BUCLE FOR

In [ ]:
my_range = range(6)
list(my_range)

[0, 1, 2, 3, 4, 5]

In [ ]:
numbers = [1,2,3,4,5,6]

for number in numbers:
    print(number)

1
2
3
4
5
6

In [ ]:
for i in range(6):
  print(i)

0
1
2
3
4
5

In [ ]:
# range (inicio,fin,pasos)
for i in range(1,6):
  print(i)

1
2
3
4
5

In [ ]:
for i in range(1,10,2):
  print(i)

1
3
5
7
9

In [ ]:
for i in range(-10,10,2):
  print(i)

-10
-8
-6
-4
-2
0
2
4
6
8

In [ ]:
lista = []


for i in range(10):
  lista.append(i)

print(lista)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
count = 0
pets = ['cat','dog','fish']

for pet in pets:
  print(pet)
  # count = count + 1
  count += 1
print(count)

cat
dog
fish
3

In [ ]:
surnames = ['Cortes','Camargo','Torres','Beltran']

for positions in range(len(surnames)):
  print(surnames[positions])

Cortes
Camargo
Torres
Beltran

In [ ]:
surnames = ['Cortes','Camargo','Torres','Beltran']

for positions,surname in enumerate(surnames,start=1):
  print(positions,surname)

1 Cortes
2 Camargo
3 Torres
4 Beltran

In [ ]:
number = 10

for i in range(15):
  if i == 10:
    break
  if i % 2 == 0:
    print(f"el número {i} es par")

el número 0 es par
el número 2 es par
el número 4 es par
el número 6 es par
el número 8 es par

In [ ]:
# ejercicio clave acceso a una cuenta y que si la misma no es correcta despues de
# tres intentos la clave esta bloqueada

In [ ]:
password = ''
conteo = 1

while password != 'xyz':

  password = input("Enter your password : ")

  if password == 'xyz':
    print("Correct password")
    break
  else:
    if conteo < 3:
      print("access denied")
      print(conteo, "Intentos")
      conteo += 1
    else:
      print("Password Locked")
      break

Enter your password : asdf
access denied
1 Intentos
Enter your password : asdf
access denied
2 Intentos
Enter your password : asdf
Password Locked

In [ ]:
list_example = [9,'car','house','dog',10,11]

for element in list_example:
  if type(element) != int:
    continue
  print(f"el numero {element} es entero")

el numero 9 es entero
el numero 10 es entero
el numero 11 es entero

In [ ]:
current_number = 0

while current_number < 10:
    current_number += 1
    if current_number % 2 != 0:
        continue

    print(current_number)

2
4
6
8
10